POSTGRES_DB=easydocument
POSTGRES_USER=easydoc
POSTGRES_PASSWORD=easydoc_dev_password
POSTGRES_PORT=55432

REDIS_PORT=6379

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
